# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
env/
venv/

# Mac & Windows system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# VS Code settings
.vscode/

# Data
*.csv

